<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <h1>Weather Forecast</h1>
    <form method="post">
        <input type="text" id="city" name="city" placeholder="Введите название города" required>
        <button type="submit">Узнать погоду</button>
    </form>
    <h2>Прогноз погоды для города {{ request.form['city'] | title }}</h2>
    {% if forecast_data %}
    <p>Температура воздуха в городе {{ request.form['city'] | title }} на ближайший день</br>ожидается
        от {{ forecast_data['min_temp'] }} до {{ forecast_data['max_temp'] }} °C.
        Осадки {{ forecast_data['precipitation'] }} мм.</p>
    {% endif %}
    {% if error_message %}
    <p>Произошла ошибка: {{ error_message }}</p>
    {% endif %}
    <script>
        $(function() {
            $("#city").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/autocomplete",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
</body>
</html>